$primary-color: #EA6F93;
$secondary-color: dimgray;
$danger-color:#da3d3d;
$orange-color:#F9A825;
$pink-color:#F96C6C;
$cian-color:#8FCCDC;
$dymgray-color: dimgray;
$white-color: #FFF;
$black-color: #25212B;
$purple-color: #807DFF;
$white-color: white;
$dark-gray-color: #dbdbdb;
$gray-color:#f3f3f3;
$bg-color: #ffd8e0;
$border-radius-sm:5px;

.mt-4 {
  margin-top: 2.5em;
}
