<div *ngIf="breeds?.length" class="container">
  <swiper-container loop="true">
    @for (breed of breeds; track breed) {
      <swiper-slide class="swiper-container">
        <img [src]="breed.url" alt="image" class="w-100">
      </swiper-slide>
    }
  </swiper-container>
  <div class="product-detail">
    <div class="product-detail-name">
      <h1>{{ breeds[0]?.breeds[0]?.name }} - {{breeds[0]?.breeds[0]?.origin }} </h1>
      <p>{{ breeds[0]?.breeds[0]?.description }}</p>
    </div>
    <div class="product-detail-size">
      <div class="actions">
        <button class="button contained w-100" [routerLink]="['/login']" >Adoptar</button>
      </div>
    </div>
  </div>
</div>
