@import '../../../sass/variables.scss';

.snackbar {
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
  width: 344px;
  height: 48px;
  padding: 6px 16px;
  margin: 24px;
  box-sizing: border-box;
  color: $white-color;
  background: $primary-color;
  box-shadow: 0 3px 5px -1px #0003, 0 6px 10px #00000024, 0 1px 18px #0000001f;
}
